<div class="animate__animated animate__fadeIn">
  <h2>Por capital</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        placeholder="Buscar capital..."
      ></app-pais-input>
    </div>
  </div>

  <hr />
</div>

<div *ngIf="hayError == true" class="alert alert-danger">
  <strong>No se encontró nada con el termino {{ termino }}</strong>
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla
      class="animate__animated animate__fadeIn"
      [paises]="paises"
    ></app-pais-tabla>
  </div>
</div>
